/* Default styles (for larger screens) */
#Question-Wrapper {
    display: flex;
    width: 960px;
    padding: 2rem;
    align-self: center;
    background-color: #e6e6e6;
    align-items: flex-start;
}

#Number {
    font-size: xxx-large;
    padding-right: 2rem;
    font-weight: bold;
    flex: 0 0 auto;
}

#Content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#Question {
    padding-top: 1rem;
    font-size: xx-large;
    font-weight: bold;
}

#Answer {
    font-size: large;
    color: #222222;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

#Answer.show {
    max-height: 200px;
    opacity: 1;
}

#showAnswer {
    cursor: pointer;
    background-color: #d1d1d1;
    padding: 1rem;
    border-radius: 10rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

#showAnswer>img {
    max-width: 50%;
    max-height: 50%;
}

/* Tablet styles */
@media screen and (max-width: 768px) {
    #Question-Wrapper {
        width: 90%;
        padding: 1.5rem;
    }

    #Number {
        font-size: xx-large;
        padding-right: 1.5rem;
    }

    #Question {
        font-size: x-large;
    }

    #Answer {
        font-size: medium;
    }

    #showAnswer {
        width: 2.5rem;
        height: 2.5rem;
    }
}

/* Phone styles */
@media screen and (max-width: 480px) {
    #Question-Wrapper {
        flex-direction: column;
        width: 95%;
        padding: 1rem;
    }

    #Number {
        font-size: x-large;
        padding: 0;
        margin-bottom: 1rem;
        /* Add spacing for better readability */
        text-align: center;
    }

    #Content {
        text-align: center;
    }

    #Question {
        font-size: large;
    }

    #Answer {
        font-size: small;
    }

    #showAnswer {
        width: 5rem;
        height: 0.5rem;
        margin: 1rem auto;
        /* Center the button */
    }
}