#Question-Wrapper {
    display: flex;
    width: 960px;
    padding: 2rem;
    align-self: center;
    background-color: #e6e6e6;
    align-items: flex-start;
    /* Ensure children align properly */
}

#Number {
    font-size: xxx-large;
    padding-right: 2rem;
    font-weight: bold;
    flex: 0 0 auto;
    /* Prevent #Number from growing */
}

#Content {
    display: flex;
    flex-direction: column;
    /* Stack #Question and #Answer vertically */
    flex: 1;
    /* Allow #Content to take up all remaining space */
}

#Question {
    padding-top: 1rem;
    font-size: xx-large;
    font-weight: bold;
}

#Answer {
    font-size: large;
    color: #222222;
    overflow: hidden;
    /* Ensure hidden content doesn’t overflow */
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

#Answer.show {
    max-height: 200px;
    /* Adjust based on the content size */
    opacity: 1;
}

#showAnswer {
    cursor: pointer;
    background-color: #d1d1d1;
    padding: 1rem;
    border-radius: 10rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    flex: 0 0 auto;
    /* Prevent #showAnswer from growing */
}

#showAnswer>img {
    max-width: 100%;
    max-height: 100%;
}