#RegisterForm {
    display: flex;
    flex-direction: column;
}
#emailLabel {
    font-size: medium;
    padding-bottom: 0.5rem;
}

#passwordLabel {
    font-size: medium;
    padding-bottom: 0.5rem;
}

#RegisterForm>input {
    margin-bottom: 0.5rem;
    font-size: large;
    padding: 0.5rem;
    border: none;
}

#RegisterForm>div>input {
    margin-bottom: 0.5rem;
    font-size: large;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border: none;
    flex-grow: 1;
}

#RegisterForm>div>button {
    width: max-content;
    align-self: self-start;
    padding: 0.7rem;
    border: none;
    border-width: none;
    background-color: white;
    text-align: center;
}

#RegisterForm>button {
    margin-top: 0.5rem;
    font-size: large;
    background-color: #000;
    color: white;
    padding: 0.5rem;
    border: none;
}
#RegisterForm>button:disabled {
    background-color: rgb(63, 63, 63);
    text-decoration: line-through;
}

#RegisterForm>div>input.invalid {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
}

#RegisterForm>input.invalid {
    border: 1px solid red;
}

#RegisterForm>div>button.invalid {
    border-right: 1px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}
/* 
#RegisterForm>div>input.valid {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    border-left: 1px solid green;
}

#RegisterForm>input.valid {
    border: 1px solid green;
}

#RegisterForm>div>button.valid {
    border-right: 1px solid green;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
} */

#RegisterForm>#errorMessage {
    /* text-align: center; */
    color: rgb(197, 0, 0);
    font-size: large;
    margin-top: 0.5rem;
}