#LoginForm {
    display: flex;
    flex-direction: column;
}

#emailLabel {
    font-size: medium;
    padding-bottom: 0.5rem;
}

#passwordLabel{
    font-size: medium;
    padding-bottom: 0.5rem;
}

#LoginForm > input {
    margin-bottom: 0.5rem;
    font-size: large;
    padding: 0.5rem;
    border: none;
}

#LoginForm > div > input {
    margin-bottom: 0.5rem;
    font-size: large;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border: none;
    flex-grow: 1;
}

#LoginForm>div>button {
    width: max-content;
    align-self: self-start;
    padding: 0.7rem;
    border: none;
    border-width: none;
    background-color: white;
    text-align: center;
}

#LoginForm>button {
    margin-top: 0.5rem;
    font-size: large;
    background-color: #000;
    color: white;
    padding: 0.5rem;
    border: none;
}

#LoginForm>button:disabled{
    background-color: #141414;
}

#LoginForm>div>input.invalid {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
}

#LoginForm>input.invalid {
    border: 1px solid red;
}

#LoginForm>div>button.invalid {
    border-right: 1px solid red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

#LoginForm > #errorMessage {
    /* text-align: center; */
    color: rgb(197, 0, 0);
    font-size: large;
    margin-top: 0.5rem;
}