#header {
    background-color: black;
    display: flex;
    justify-content:space-between;
    padding: 1rem;
}

#MenuContent {
    z-index: 2;
    position: absolute;
    background-color: black;
}

#BagMenuContent {
    z-index: 2;
    position: absolute;
    background-color: black;
    right: 0;
}

#DropDownMenu:hover #BagMenuContent {
    display: block;
}

#Type {
    color: white;
    padding: 1rem;
    background-color: black;
}

#Type:hover {
    background-color: gray;
}

#DropDownMenu:hover #MenuContent{
    display: block;
}

@media screen and (max-width: 728px) {
    #MenuContent {
      width: 100%;
    }
    #BagMenuContent{
        width: 100%;
    }
}